<div class="col-sm-12">
	<div class="jumbotron">
      <h1 class="display-4">Add Your App Here</h1>
      <p class="lead">~Democratiam Intelligentia~</p>
      <hr class="my-4">
    </div>

    <form action="/" method="post"> <!-- TODO: Ask what the API endpoint is -->
    	Title: <input class="form-control" type="text" name="Title" ng-model="addSurvey.title">
    	Description: <textarea class="form-control" rows="10" cols="30" name="Description" ng-model="addSurvey.description"></textarea>
    	Image Link: <input class="form-control" type="url" name="Image" ng-model="addSurvey.picUrl">
    	Python File: <input class="" ng-model="addSurvey.script" type="file" name="script" accept=".py">
    	Arguments: 
    	<table>
    		<tr>
    			<th>Name</th>
    			<th>Type</th>
    		</tr>
    		<tr ng-repeat="arg in args">
    			<td>{{arg.name}}</td>
    			<td>{{arg.type}}</td>
    		</tr>
    		<tr>
    			<td><input type="text" ng-model="addArg.name"></td>
    			<td>
    				<select ng-model="addArg.type" ng-options="option in argTypes">
    					<option>{{option}}</option>
    				</select>
    			</td>
    		</tr>
    	</table>

    	<hr >

    	<input type="submit" ng-show="validate(addSurvey)">

    </form>

    <!-- {{addSurvey.script}} -->

</div>