<div class="col-sm-12">
	<div class="jumbotron">
      <h1 class="display-4">Add Your App Here</h1>
      <p class="lead">~Democratiam Intelligentia~</p>
      <hr class="my-4" />
    </div>

	<h3>Title:</h3> <input class="form-control" type="text" id='title' ng-model="addSurvey.title">
	<h4>Description:</h4> <textarea class="form-control" rows="10" cols="30" id='description' ng-model="addSurvey.description"></textarea>
	<h4>Image Link:</h4> <input class="form-control" type="url" id='image' ng-model="addSurvey.picUrl">
	<form id='file-form' method="post" enctype="multipart/form-data">
	<h4>Python File:</h4> <input class="" ng-model="addSurvey.script" type='file' id='fle' name="script" accept=".py">
</form>
	<h4>Arguments:</h4>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Type</th>
		</tr>
		<tr class='arg' ng-repeat="(i, arg) in addSurvey.args">
			<td>{{arg.name}}</td>
			<td>{{arg.type}}</td>
			<td><a href="" ng-click="removeArg(i)">Remove</a></td>
		</tr>
		<tr>
			<td>
				<input type="text" id='arg-name' class="form-control" ng-model="addArg.name">
			</td>
			<td>
				<select class="form-control" id='arg-type' ng-model="addArg.type" ng-options="option for option in argTypes">
					<option>{{option}}</option>
				</select>
			</td>
			<td>
				<button ng-click="addArgument(addArg)" ng-show="addArg.type != '' && addArg.name != ''" class="btn btn-primary btn-md btn-block">Add</button>
			</td>
		</tr>
	</table>


	<button ng-click="submitData(addSurvey)" ng-show="validateData()" class="btn btn-primary btn-md btn-block">Submit</button>
	<br /> <br />

    <!-- {{addSurvey.script}} -->

</div>
