<!DOCTYPE html>
<html>
<head>
	<title>Draft 1</title>

	<!-- BOOTSTRAP IMPORTS -->
    <!-- Latest compiled and minified CSS -->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Open Sans Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- JQuery for server requests -->
    <script src = "../static/control.js"></script>
</head>
<body>
	<div class = "container">
		<div class = "col-sm-12">
			<div class="jumbotron">
				<h1 class="">Card: Democratiam Intelligentia</h1>
				<p class="lead">First Draft of the UI Card for each of the algorithms that will be shown to users browsing for algorithms.</p>
				<hr class="my-4">
			</div>
		</div>

		{% for row in learns %}
		<div class = "card">
			<div class = "col-sm-6 cardLeft">
				<h2 class = "cardTitle">{{ row[1] }}</h2>
				<p class = "description">
					{{ row[2] }}
				</p>
				<div class = "buttonsDiv">
					<button onclick = "return download('{{ row[0] }}')" class="downloadBtn btn btn-success btn-lg btn-block">Download</button>
					<button onclick = "return vote('{{ row[0] }}', 1)" class="upVoteBtn btn btn-info btn-lg">Upvote</button>
					<button onclick = "return vote('{{ row[0] }}', -1)" class="downVoteBtn btn btn-warning btn-lg">DownVote</button>
					<button onclick = "return save('{{ row[0] }}')" class="saveBtn btn btn-default btn-lg">Save</button>
					<button onclick = "return report('{{ row[0] }}')" class="reportBtn btn btn-danger btn-lg">Report</button>
				</div>
			</div>
			<div class = "col-sm-6 cardRight">
				<h3 class = "authorName">By <a href="https://www.google.com/search?client=ubuntu&hs=q79&channel=fs&ei=BYsOXfKTOYa7tQaenKygBw&q=am+I+ugly%3F&oq=am+I+ugly%3F&gs_l=psy-ab.3..0l10.2640.7652..7867...4.0..1.428.2003.12j2j2j0j1......0....1..gws-wiz.....0..0i71j0i30j0i22i30j0i10j0i67.ucNyRQClslA">{{ row[4] }}</a></h3>
				<div class="picDiv">
					<img class = "profilePicture" src = "{{ row[3] }}" />
					<!-- <p class="picDesc">I'm just a fun loving guy who likes long walks on the beach.</p> -->
				</div>
				<br />
			</div>

		</div>
		{% endfor %}













	</div>

</body>
</html>
